.wrapper
  = render 'messages/sidebar' 

  .chat-main
    .chat-main__header
      .chat-main__header-title
        .current_group
          .current_group__name
            = @group.name
          .members
            %h3.members__title Member : 
            %ul.members__list
            - @group.users.each do |group_name|
              %li
              = group_name.name

        .edit-button

          = link_to '#' do
            Edit

    .messages
      = render @messages
      -# = render 'messages/message'
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
